<?xml version="1.0" encoding="UTF-8" ?>
   <!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lvwang.osf.mappers.EventMapper"> 
	<select id="getEvent" resultType="Event">
		select * from osf_events where object_type=#{param1} and object_id=#{param2}
	</select>
	
	<select id="getEvents" resultType="Event">
		select * from osf_events limit #{param1},#{param2}
	</select>
	
	<select id="getEventsWithRelations" parameterType="map" resultType="Event">
		select * from osf_events 
		<where>
			<if test="0 != null">
				(object_type=0 and
					<foreach item="object_id" collection="0" open="(" separator="," close=")">
						#{objectId}
					</foreach>
				)
			</if>
			<if test="2 != null">
				or (object_type=2 and
					<foreach item="object_id" collection="2" open="(" separator="," close=")">
						#{objectId}
					</foreach>
				)
			</if>
		</where>
	</select>
	
	<select id="getEventsOfUser" resultType="Event">
		select * from osf_events where user_id=#{param1} order by ts desc limit #{param2}
	</select>
	
	<select id="getEventsHasPhoto" resultType="Event">
		select * from osf_events where (object_type=0 and content is not null)
		or (object_type=2 and title is not null) limit #{param1},#{param2}
	</select>
	
	<delete id="deleteByObject">
		delete from osf_events where object_type=#{param1} and object_id=#{param2}
	</delete>

	<update id="commentCountAdd">
		UPDATE osf_events SET comment_count = comment_count + 1 WHERE object_id = #{objectId};
	</update>

	<update id="likeCountAdd">
		UPDATE osf_events SET like_count = like_count + 1 WHERE object_id = #{objectId};
	</update>

</mapper>