<?xml version="1.0" encoding="UTF-8" ?>
   <!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lvwang.osf.mappers.LikeMapper">

    <select id="getLikers" resultType="int">
        select user_id from osf_likes where object_type = #{objectType} and object_id = #{objectId}
    </select>

</mapper>