<?xml version="1.0" encoding="UTF-8" ?>
   <!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lvwang.osf.mappers.NotificationMapper">

	<select id="getNotificationsOfType" resultType="com.lvwang.osf.pojo.Notification">
		 select * from osf_notifications where notifiedUser = #{param1} and notifyType = #{param2} order by ts desc
	</select>
	<select id="getNotificationsOfTypes" resultType="com.lvwang.osf.pojo.Notification">
		 select * from osf_notifications where notifiedUser= #{param1}
		 and notifyType in
		 <foreach item="notifyType" collection="notifyTypes" open="(" separator="," close=")">
		 	#{notifyType}
		 </foreach>
		 order by ts desc
	</select>
	
	<select id="getNotificationsCount" resultType="java.util.Map" parameterType="int">
		 select notifyType,count(*) `count	` from
		 osf_notifications where notifiedUser = #{userId} group by notifyType
	</select>

</mapper>