<?xml version="1.0" encoding="UTF-8" ?>
   <!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lvwang.osf.mappers.UserMapper">

    <select id="findUserByEmail" resultType="User">
        SELECT * FROM osf_users WHERE user_email = #{email}
    </select>

   <select id="getUsers" parameterType="int" resultType="User">
      SELECT * FROM osf_users limit #{count}
   </select>

    <select id="getPasswordByEmail" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT user_pwd FROM osf_users WHERE user_email = #{email}
    </select>

    <select id="updatePasswordByEmail">
        UPDATE TABLE osf_users SET user_pwd = #{password} WHERE user_email = #{email}
    </select>

    <select id="updateResetPwdKey">
        UPDATE TABLE osf_users SET resetpwd_key = #{key} WHERE user_email = #{email}
    </select>

    <select id="getResetPwdKey">
        SELECT resetpwd_key FROM osf_users WHERE user_email = #{email}
    </select>

</mapper>